.movies {
  margin-bottom: 50px;

  &-list {
    list-style: none;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &-title {
    text-align: left;
    margin: 50px 0;
    padding-left: 15px;
    position: relative;

    &::before {
      content: '';
      height: 100%;
      width: 4px;
      background: linear-gradient(rgba(38, 255, 242, 1), rgba(50, 108, 255, 1));
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  & button {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
  }

  & a {
    text-decoration: none;
  }
}
