.footer {
  display: flex;
  align-items: center;
  padding: 50px;
  border-top: 1px solid rgba(194, 194, 194, 0.4);

  &-social {
    display: flex;
    margin-left: 50px;

    &-icon {
      margin-left: 10px;
    }

    & a {
      color: white;
    }
  }

  &-private-policy {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin-left: auto;

    & a {
      color: white;
      text-decoration: none;
      transition: 0.3s all;

      &:hover {
        border-bottom: 1px solid white;
      }
    }
  }
}