.all-movies {
  padding: 0 50px;

  &-title {
    text-align: left;
  }
}

.pagination {
  margin: 50px auto;

  & ul {
    display: flex;
    justify-content: center;
  }

  & li {

    & a {
      display: block;
      margin-right: 5px;
      border-radius: 50px;
      padding: 15px 20px;
      font-size: 18px;
      font-weight: 700;
      cursor: pointer;
      transition: 0.3s all;
      background: linear-gradient(rgba(38, 255, 242, 1), rgba(50, 108, 255, 1));
      color: white;

      &:hover {
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);;
      }

    }

    &.active-page a{
      background: linear-gradient(rgba(211, 0, 0, 1), rgba(170, 175, 189, 1));
    }
  }
}

