.genre-selector {
  background-color: #000;
  border-radius: 5px;
  color: gold;
  border: none;
  font-size: 25px;
  font-weight: 700;
  margin-left: 20px;
  min-width: 210px;


  &:focus {
    background-color: #000;
    cursor: pointer;
    outline: none;
  }

  &:active {
  }

  &:hover {
    cursor: pointer;
  }
  &-option {
    cursor: pointer;
  }
}