.App {
  text-align: center;
  padding: 0px 50px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.light-mode {
  color: #000000;
  background-color: #ffffff;

  & h1, h2, h3, h4, a {
    color: #000000!important;
    
    &::after {
      background-color: #000!important;
    }
  }
  
  & a:hover {
    border-bottom-color: #000!important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
